* {
  margin: 0;
}

body {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  font-weight: 300;
}

.container {
  width: 570px;
  margin: 0 auto;
}

header,
section {
  padding: 100px 0;
}

/* Typography */
h1 {
  font-size: 80px;
}

h2 {
  font-size: 60px;
}

.bold-text {
  font-weight: 900;
  display: block;
}

h3 {
  font-size: 36px;
  font-weight: 900;
}

h1,
h2 {
  font-weight: inherit;
}

small {
  font-size: 16px;
}

/* links */
a {
  color: #99d930;
}

a:hover {
  color: #131313;
}

/* colors bg */
.bg {
  background: #252525;
  color: #fff;
}
